.DS_Store
.env
.env.local
node_modules
dist
.cache
*.tsbuildinfo
*.log
*.gen.ts
outputs/
processed_outputs/
outputs_train/
processed_outputs_train/
outputs_test/
outputs_train_round_2/
outputs_train_round_backup/